/* Products list page styling */
.productsWrapper {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* Sort and filter container */
.sortFilterContainer {
  width: 100%;
  height: auto;
  padding: var(--space-large);
  background-color: var(--secondary-color);
  display: flex;
  justify-content: center;
  gap: var(--space-medium);
}

/* Products grid container */
.productsContainer {
  display: grid;
  max-width: 1300px;
  margin: 0 auto;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: var(--space-medium);
  padding: var(--space-large) var(--space-x-large);
  background-color: var(--secondary-color-light);
  justify-content: center;
}

/* Responsive design */
@media screen and (max-width: 768px) {
  .productsContainer {
    padding: var(--space-medium) var(--space-small);
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}

@media screen and (max-width: 480px) {
  .productsContainer {
    padding: var(--space-small);
    gap: var(--space-small);
  }

  .sortFilterContainer {
    padding: var(--space-small);
    gap: var(--space-small);
    flex-direction: column;
  }

  .sort,
  .filter {
    width: 100%;
  }
}