/* Quantity counter component styling */
.counterCard {
  width: auto;
  border: none;
  border-radius: var(--border-radius-small);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Quantity display */
.countDisplay {
  font-size: var(--medium-small-font-size);
  border: none;
  background-color: var(--background-color-light);
  color: var(--text-dark);
  font-weight: bold;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Responsive design */
@media screen and (max-width: 768px) {
  .countDisplay {
    width: 50px;
    height: 50px;
    font-size: var(--medium-font-size);
  }
}

@media (max-width: 480px) {
  /* .counterCard {
    width: 100%;
  } */
}