/* Cart page styling */
.cartContainer {
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--space-large);
  background: var(--background-color-light);
}

/* Cart list container */
.cartListContainer {
  max-width: 700px;
  width: 100%;
  border-radius: 12px;
  padding: var(--space-large);
  color: var(--text-dark);
  background: var(--secondary-color-light);
}

.cartList {
  width: 100%;
  height: auto;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: var(--space-medium);
}

/* Total amount display */
.subtotalContainer {
  width: 100%;
  height: auto;
  margin-bottom: var(--space-medium);
}

.subtotalAmount {
  display: flex;
  justify-content: space-between;
  padding: var(--space-medium);
  font-size: var(--medium-font-size);
  font-weight: bold;
  border-bottom: 1px solid var(--secondary-color);
}

.buttonsContainer {
  display: flex;
  flex-direction: column;
  gap: var(--space-x-small);
  width: 100%;
}

/* Responsive design */
@media screen and (max-width: 480px) {
  .cartContainer {
    padding: 0;
  }

  .cartListContainer {
    padding: var(--space-medium);
  }

  .totalAmount {
    text-align: center;
  }
}