/* Profile styles */
.profileWrapper {
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--space-large);
  background: var(--background-color-light);
}

.profileContainer {
  width: 100%;
  max-width: 800px;
  display: flex;
  gap: var(--space-large);
  border-radius: var(--border-radius-medium);
  padding: var(--space-large);
  color: var(--text-dark);
  background-color: var(--primary-color-light);
}


@media screen and (max-width: 768px) {
  .profileContainer {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 480px) {
  .profileWrapper {
    padding: 0;
  }
}