/* Contact page styling */
.formWrapper {
  width: 100%;
  height: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--background-color-light);
  padding: var(--space-large);
  color: var(--primary-color);
  position: relative;
}

/* Contact form */
.contactForm {
  width: 100%;
  max-width: 650px;
  display: flex;
  flex-direction: column;
  gap: var(--space-small);
  padding: var(--space-large);
  background-color: var(--secondary-color-light);
  border-radius: var(--border-radius-medium);
}

.formTitle {
  font-weight: bold;
  font-size: var(--medium-font-size);
}

.formGroup {
  display: flex;
  flex-direction: column;
  gap: var(--space-x-small);
  padding: var(--space-medium);
  border-radius: var(--border-radius-medium);
}

.formGroupTitle {
  font-weight: bold;
}

/* Field rows */
.fieldRow {
  display: flex;
  gap: var(--space-medium);
}

.fieldContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* Form inputs */
.formInput {
  width: 100%;
}

.buttonsContainer {
  display: flex;
  flex-direction: column;
  gap: var(--space-x-small);
  width: 100%;
}

/* Contact modal content */
.contactModalContent {
  display: flex;
  flex-direction: column;
  gap: var(--space-medium);
}

/* Responsive design */
@media screen and (max-width: 768px) {
  .formWrapper {
    padding: var(--space-medium);
  }

  .contactForm {
    width: 100%;
    padding: var(--space-medium);
  }
}

@media screen and (max-width: 480px) {

  .formWrapper {
    width: 100%;
    padding: 0;
  }

  .formGroup {
    padding: var(--space-medium);
  }

  .fieldRow {
    flex-direction: column;
  }
}