/* Form group styling */
.formGroup {
    display: flex;
    flex-direction: column;
    gap: var(--space-x-small);
    padding: var(--space-medium);
    border-radius: var(--border-radius-medium);
}

.formGroupTitle {
    font-weight: bold;
}