/* Sign in page styling */
.formWrapper {
  width: 100%;
  min-height: 100vh;
  max-height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, var(--primary-color) 0%, var(--secondary-color) 100%);
  padding: var(--space-x-large);
  color: var(--primary-color);
  position: relative;
}

/* Sign in form container */
.signInForm {
  width: 50%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: var(--space-medium);
  padding: var(--space-large);
  background-color: var(--primary-color-light);
  border-radius: var(--border-radius-medium);
}

/* Form group styling */
.formGroup {
  display: flex;
  flex-direction: column;
  gap: var(--space-small);
  padding: var(--space-medium);
  border-radius: var(--border-radius-medium);
}

.formGroupTitle {
  font-weight: bold;
}

/* Form inputs */
.formInput {
  width: 100%;
  height: 32px;
  padding: 0 var(--space-small);
}

/* Sign in button */
.signInButton {
  height: 48px;
  background-color: var(--primary-color);
  color: var(--text-light);
  border-radius: var(--border-radius-small);
  border: none;
  transition: all 0.3s ease-in-out;
  font-size: var(--base-font-size);
  box-shadow: var(--box-shadow-base);
}

.signInButton:hover {
  background-color: var(--secondary-color);
}

/* Error message styling */
.errorMessage {
  color: var(--text-error);
}

/* Forgot password button */
.forgotPasswordButton {
  background-color: transparent;
  border: none;
  font-size: var(--base-font-size);
  text-decoration: underline;
  color: inherit;
}

/* Password reset form */
.resetFormContainer {
  display: flex;
  flex-direction: column;
  gap: var(--space-medium);
  color: var(--primary-color);
}

.resetFormContainer p {
  line-height: 1.5;
}

.resetInput {
  height: 32px;
  padding: 0 var(--space-small);
}

/* Reset buttons container */
.resetButtonsContainer {
  display: flex;
  justify-content: center;
  gap: var(--space-medium);
}

.resetPasswordButton,
.closeButton {
  flex: 1;
  height: 32px;
  color: var(--primary-color);
}

/* Responsive design */
@media screen and (max-width: 768px) {
  .formWrapper {
    padding: var(--space-medium);
  }

  .signInForm {
    width: 100%;
    padding: var(--space-small);
  }

  .resetFormContainer {
    padding: var(--space-small);
  }

}