/* Modal backdrop overlay */
.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 900;
  padding: var(--space-medium);
}

/* Modal content container */
.modalContainer {
  width: 100%;
  max-width: 600px;
  min-width: 360px;
  background-color: var(--primary-color-light);
  display: flex;
  flex-direction: column;
  border-radius: var(--border-radius-medium);
  max-height: 97vh;
  overflow-y: auto;
  padding: var(--space-large);
}

.modalTitle {
  font-size: var(--medium-small-font-size);
  font-weight: 600;
  margin-bottom: var(--space-small);
}

/* Responsive design */
@media screen and (max-width: 480px) {
  .modalContainer {
    padding: var(--space-medium);
    max-height: 85vh;
  }
}