/* Email verification badge styling */
.verificationBadge {
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Verified status icon */
.verifiedIcon {
    color: var(--text-success);
    font-size: var(--large-font-size);
}

/* Unverified status icon */
.unverifiedIcon {
    color: var(--text-warning);
    font-size: var(--large-font-size);
}

/* Responsive design */
@media screen and (max-width: 768px) {
    .verificationBadge {
        right: 20px;
        bottom: 20px;
    }

    .verifiedIcon,
    .unverifiedIcon {
        font-size: var(--medium-font-size);
    }
}