/* Cart item styling */
.cartItem {
    display: flex;
    height: auto;
    align-items: center;
    gap: var(--space-medium);
    padding: var(--space-medium);
    border: 1px solid var(--secondary-color);
    border-radius: var(--border-radius-medium);
    background: var(--secondary-color-light);
    color: var(--text-dark);
}

.productImageContainer {
    position: relative;
    width: 84px;
    height: 84px;
}

/* Product image */
.productImage {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: var(--border-radius-small);
    background: var(--background-color-image);
}

/* Product details */
.productDetails {
    flex: 1;
    font-size: var(--base-font-size);
    color: var(--text-dark);
    display: flex;
    flex-direction: column;
    gap: var(--space-small);
}

.productTitle {
    font-size: var(--base-font-size);
    font-weight: bold;
}

.productPrice,
.productTotal {
    font-size: var(--base-font-size);
}

.productLabel {
    font-weight: bold;
}

.counterAndRemoveContainer {
    display: flex;
    gap: var(--space-x-small);
    flex-direction: column;
    justify-content: center;
}

.itemCount {
    width: 100%;
}

/* Responsive design */
@media screen and (max-width: 768px) {
    .productImageContainer {
        width: 104px;
        height: 104px;
    }
}

@media screen and (max-width: 480px) {
    .cartItem {
        flex-direction: column;
        align-items: center;
        gap: var(--space-medium);
        padding: var(--space-large);
    }

    .productImageContainer {
        width: 100%;
        height: 200px;
    }

    /* Product image */
    .productImage {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    /* Product details */
    .productDetails {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: var(--space-small);
    }

    .productTitle {
        text-align: center;
        font-size: var(--medium-small-font-size);
    }

    .productPrice,
    .productTotal {
        display: flex;
        justify-content: space-between;
        font-size: var(--base-font-size);
    }

    .counterAndRemoveContainer {
        width: 100%;
        flex-direction: row-reverse;
        gap: var(--space-medium);
    }

    .itemCount {
        width: 100%;
    }

    .cartContainer {
        padding: 0;
        border-radius: none;
    }
}