.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--border-radius-small);
    border: none;
    font-size: var(--base-font-size);
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

/*** Primary button ***/
.primary {
    height: 40px;
    width: 100%;
    background-color: var(--primary-color);
    color: var(--text-light);
}

.primary:hover {
    background-color: var(--secondary-color);
}

/*** Secondary button ***/
.secondary {
    background-color: var(--secondary-color-light);
    color: var(--text-dark);
    padding: var(--space-medium) var(--space-large);
    border: 1px solid var(--primary-color);
    border-radius: var(--border-radius-medium);
    border: 1px solid transparent;
}

.secondary:hover {
    background-color: var(--background-gradient-light);
    border: 1px solid var(--secondary-color-light);
    color: var(--text-light);
}

/*** Tertiary button ***/
.tertiary {
    background: transparent;
    color: var(--text-light);
    padding: var(--space-medium) var(--space-large);
    border: 1px solid var(--secondary-color-light);
    border-radius: var(--border-radius-medium);
}

.tertiary:hover {
    background: var(--secondary-color-light);
    color: var(--text-dark);
}

/*** Details button ***/
.detailsBtn {
    height: 40px;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.detailsBtn:hover {
    background-color: var(--primary-color);
    color: var(--text-light);
}

/*** Sign in/out buttons ***/
.signInBtn {
    background: var(--glass-bg-light);
    color: var(--text-light);
    padding: var(--space-small) var(--space-medium);
    border-radius: var(--border-radius-medium);
}

.signInBtn:hover {
    background: var(--glass-bg-medium);
}

/*** Circle button ***/
.circle {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: var(--glass-bg-light);
    color: var(--text-light);
}

.circle:hover {
    background: var(--glass-bg-medium);
}

/* Responsive design */
@media screen and (max-width: 768px) {


    .secondary,
    .tertiary {
        padding: var(--space-medium) var(--space-large);
        width: 100%;
        max-width: 300px;
        text-align: center;
    }
}

@media screen and (max-width: 480px) {

    .secondary,
    .tertiary {
        width: 100%;
        max-width: none;
    }
}