/* Email verification page styling */
.verifyWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  background: var(--background-gradient-light);
}

/* Verification container */
.verificationContainer {
  text-align: center;
  padding: var(--space-large);
  background: var(--primary-color-light);
  border-radius: var(--border-radius-large);
  max-width: 600px;
  width: 100%;
}

/* Verification content */
.verificationTitle {
  font-size: var(--large-font-size);
  color: var(--text-dark);
  margin-bottom: var(--space-medium-large);
}

.verificationText {
  font-size: var(--medium-small-font-size);
  font-weight: bold;
  color: var(--text-dark);
  margin-bottom: var(--space-medium);
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

.highlight {
  color: var(--active-color);
  font-weight: bold;
  animation: pulse 2s infinite;
  display: inline-block;
}



.buttonsContainer {
  display: flex;
  flex-direction: column;
  gap: var(--space-small);
  width: 100%;
  height: auto;
}

/* Message styling */
.successMessage {
  color: var(--text-light);
  font-size: var(--base-font-size);
  margin-top: var(--space-small);
}

.errorMessage {
  color: var(--text-error);
  font-size: var(--base-font-size);
  margin-top: var(--space-small);

}

/* Responsive design */
@media screen and (max-width: 768px) {
  .verificationContainer {
    width: 92%;
    padding: var(--space-medium);
    gap: var(--space-small);
  }
}