/* Email verification page styling */
.verifyWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: var(--background-gradient-light);
}

/* Verification container */
.verificationContainer {
  display: flex;
  flex-direction: column;
  gap: var(--space-medium);
  text-align: center;
  padding: var(--space-medium);
  background: var(--primary-color-light);
  border-radius: var(--border-radius-large);
  max-width: 600px;
  width: 100%;
}

/* Verification content */
.verificationTitle {
  font-size: var(--large-font-size);
  color: var(--text-light);
}

.verificationText {
  font-size: var(--base-font-size);
  color: var(--primary-color-light);
  margin-bottom: var(--space-medium);
}

.buttonsContainer {
  display: flex;
  flex-direction: column;
  gap: var(--space-small);
  width: 100%;
  height: 90px;
}

/* Resend button */
.resendButton {
  height: 40px;
  background-color: var(--primary-color);
  color: var(--text-light);
  border-radius: var(--border-radius-small);
  border: none;
  transition: all 0.3s ease-in-out;
  font-size: var(--base-font-size);
  box-shadow: var(--box-shadow-base);
}

.resendButton:hover {
  background: var(--secondary-color);
}

/* Message styling */
.successMessage {
  color: var(--text-light);
  font-size: var(--base-font-size);
  margin-top: var(--space-small);
}

.errorMessage {
  color: var(--text-error);
  font-size: var(--base-font-size);
  margin-top: var(--space-small);

}

/* Responsive design */
@media screen and (max-width: 768px) {
  .verificationContainer {
    width: 92%;
    padding: var(--space-medium);
    gap: var(--space-small);
  }
}