/* Email verification page styling */
.verifyWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  background: var(--background-gradient-light);
}

/* Verification container */
.verificationContainer {
  text-align: center;
  padding: var(--space-large);
  background: var(--primary-color-light);
  border-radius: var(--border-radius-large);
  max-width: 550px;
  width: 100%;
}

/* Verification content */
.verificationTitle {
  font-size: var(--medium-font-size);
  color: var(--text-dark);
  font-weight: bold;
  margin-bottom: var(--space-medium);
}

.verificationText {
  font-size: var(--base-font-size);
  color: var(--text-dark);
  margin-bottom: var(--space-small);
  font-weight: bold;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

.highlight {
  color: var(--active-color);
  font-weight: bold;
  animation: pulse 2s infinite;
  display: inline-block;
}

.buttonsContainer {
  width: 100%;
  margin-top: var(--space-medium);
}

/* Responsive design */
@media screen and (max-width: 768px) {
  .verificationContainer {
    padding: var(--space-medium);
    gap: var(--space-small);
  }
}