/* ******************* LAYOUT ******************* */

/* Form wrapper */
.formWrapper {
    width: 100%;
    height: 100%;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--background-gradient-light);
    padding: var(--space-large);
    color: var(--primary-color);
    position: relative;
}

/* ******************* FORM CONTAINER ******************* */

/* Sign up page styling */
.signUpForm {
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: var(--space-small);
    padding: var(--space-large);
    background-color: var(--secondary-color-light);
    border-radius: var(--border-radius-medium);
}

/* ******************* FORM GROUPS ******************* */

.formGroup {
    display: flex;
    flex-direction: column;
    gap: var(--space-x-small);
    padding: var(--space-large);
    border-radius: var(--border-radius-medium);
}

/* Form styling */
.formGroupTitle {
    font-weight: bold;
}

/* ******************* FORM ELEMENTS ******************* */

.formInput {
    width: 100%;
    padding: 0 var(--space-small);
    color: var(--text-dark);
}

.fileInput {
    display: none;
}

.errorMessage {
    color: var(--text-error);
    height: 10px;
    text-align: center;
    font-size: var(--small-font-size);
}

/* ******************* IMAGE PREVIEW ******************* */

/* Image preview container */
.imagePreviewContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--space-small);
    background-color: var(--primary-color-light);
    border: 1px solid var(--primary-color);
    padding: var(--space-small);
    border-radius: var(--border-radius-small);
    overflow: hidden;
}

.imagePreview {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: var(--box-shadow-base);
}

/* ******************* BUTTONS ******************* */

.buttonsContainer {
    display: flex;
    flex-direction: column;
    gap: var(--space-small);
    width: 100%;
    height: 90px;
}

/* ******************* RESPONSIVE ******************* */

/* Responsive design */
@media screen and (max-width: 768px) {
    .formWrapper {
        padding: var(--space-medium);
    }

    .signUpForm {
        width: 100%;
        padding: var(--space-medium);
    }

    .formInput {
        height: 40px;
    }
}

@media screen and (max-width: 480px) {
    .signUpForm {
        padding: var(--space-medium);
    }

    .formGroup {
        padding: var(--space-medium);
    }
}