/* Form wrapper */
.formWrapper {
    width: 100%;
    height: 100%;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--background-gradient-light);
    padding: var(--space-large);
    color: var(--primary-color);
    position: relative;
}

/* Sign up page styling */
.signUpForm {
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: var(--space-small);
    padding: var(--space-medium);
    background-color: var(--secondary-color-light);
    border-radius: var(--border-radius-medium);
}

.formGroup {
    display: flex;
    flex-direction: column;
    gap: var(--space-x-small);
    padding: var(--space-medium);
    border-radius: var(--border-radius-medium);
}

/* Form styling */
.formGroupTitle {
    font-weight: bold;
}

.formInput {
    width: 100%;
    padding: 0 var(--space-small);
}

.fileInput {
    border: none;
}

/* Image preview container */
.imagePreviewContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 8px;
    overflow: hidden;
}

.imagePreview {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: var(--box-shadow-base);
}

.removeImageButton {
    margin-top: var(--space-small);
    background-color: var(--remove-button-color);
    color: var(--primary-color-light);
    border: none;
    border-radius: var(--border-radius-small);
    padding: var(--space-small);
    font-size: var(--base-font-size);
    box-shadow: var(--box-shadow-base);
    transition: background-color 0.3s ease-in-out;
}

.removeImageButton:hover {
    background-color: var(--remove-button-color-hover);
}

.buttonsContainer {
    display: flex;
    flex-direction: column;
    gap: var(--space-small);
    width: 100%;
    height: 90px;
}

/* Create account button */
.createAccountButton {
    height: 40px;
    background-color: var(--primary-color);
    color: var(--text-light);
    border-radius: var(--border-radius-small);
    border: none;
    transition: all 0.3s ease-in-out;
    font-size: var(--base-font-size);
}


.createAccountButton:hover {
    background-color: var(--secondary-color);
}

.errorMessage {
    color: var(--text-error);
    height: 10px;
    text-align: center;
    font-size: var(--small-font-size);
}

/* Responsive design */
@media screen and (max-width: 768px) {
    .formWrapper {
        padding: var(--space-medium);
    }

    .signUpForm {
        width: 100%;
        padding: var(--space-medium);
    }

    .formInput {
        height: 40px;
    }

    .createAccountButton {
        height: 50px;
        font-size: var(--base-font-size-large);
    }
}

@media screen and (max-width: 480px) {
    .signUpForm {
        padding: var(--space-small);
    }
}