/* Sign up page styling */
.formWrapper {
    width: 100%;
    height: 100%;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--background-gradient-light);
    padding: var(--space-large);
    color: var(--primary-color);
    position: relative;
}

/* Responsive design */
@media screen and (max-width: 768px) {
    .formWrapper {
        padding: var(--space-medium);
    }
}

@media screen and (max-width: 480px) {
    .formWrapper {
        padding: 0;
    }
}