/* Reset password form styles */
.resetForm {
    display: flex;
    flex-direction: column;
    gap: var(--space-medium);
    color: var(--primary-color);
}

.resetFormDescription {
    line-height: 1.6;
    font-size: var(--base-font-size);
    font-weight: bold;
    margin-bottom: var(--space-x-small);
}

/* Reset buttons container */
.buttonsContainer {
    display: flex;
    flex-direction: column;
    gap: var(--space-x-small);
    width: 100%;
}