/* Base link styles  */
.link {
    transition: color 0.3s ease-in-out, border-bottom 0.3s ease-in-out;
    font-size: var(--base-font-size);
    text-decoration: none;
}

/* Primary variant - with underline */
.primary {
    color: var(--link-color);
    border-bottom: 2px solid var(--link-color);
}

.primary:hover {
    color: var(--link-color-hover);
    border-bottom: 2px solid var(--text-light);
}