/* 404 page styling */
.notFoundContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-color: var(--secondary-color-light);
}

/* 404 image styling */
.notFoundImage {
    max-width: 600px;
    width: 100%;
    height: auto;
    padding: var(--space-large);
    border-radius: var(--border-radius-large);
    box-shadow: var(--box-shadow-base);
    rotate: 0deg;
    animation: rotateAfterDelay 1s ease-in-out forwards;
}

/* Rotation animation */
@keyframes rotateAfterDelay {

    0%,
    99% {
        rotate: 0deg;
    }

    100% {
        rotate: -8deg;
    }
}

/* Responsive design */
@media screen and (max-width: 768px) {
    .notFoundContainer {
        padding: 0.5rem;
    }

    .notFoundImage {
        padding: var(--space-small);
        rotate: 0deg;
        animation: none;
    }
}